@{
    ViewData["Title"] = "My Work";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        color: #000000;
        margin: 0;
        padding: 0;
    }

    .work-description {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .product {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .product img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

    h3 {
        color: #060270;
        font-size: 1.2em;
        margin-top: 0;
    }

    p {
        color: #000000;
        font-size: 1em;
        margin-bottom: 0;
    }
</style>

<body>

<div class="work-description">
        <center> <h3>WELCOME</h3> </center>
    <p>
        KhumaloCraft Emporium works with artisans from various countries to showcase their traditional craftsmanship and unique cultural heritage. Our goal is to connect these talented artisans with a global audience, allowing them to share their stories and showcase their products.
    </p>
</div>

<div class="product-list">
    <div class="product">
        
        <img src="~/lib/images/bells.jpg" alt="Handcrafted Garden Bells">
        <h3>Handcrafted Garden Bells</h3>
        <p>R350</p>
    </div>
    <div class="product">
        
        <img src="~/lib/images/bag.jpg" alt="Handcrafted Bag">
        <h3>Handcrafted Bag</h3>
        <p>R1900</p>
    </div>
    <div class="product">
        <img src="~/lib/images/earrings.jpg" alt="Handcrafted Earrings">
        <h3>Handcrafted Bag</h3>
        <p>R675</p>
    </div>
    <div class="product">

        <img src="~/lib/images/jewelry.jpg" alt="Handcrafted Jewelery">
        <h3>Handcrafted Jewelery</h3>
        <p>R900</p>
    </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</body>